h1 {
    font: 80px sans-serif;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 36px;
    font-weight: bold;
    color: white;
}

h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;

}

#Logo{
    padding-left: 20px;
}

body{

    border-radius: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;

}

#navigation{
    position: absolute;
    left: 47.66%;
    right: 47.61%;
    top: 91.03%;
    bottom: 6.4%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */

    text-align: justify;
    text-transform: uppercase;

    color: #FFFFFF;
}

#navArrow{
    position: absolute;
    left: 48.96%;
    right: 47.61%;
    top: 93.03%;
    bottom: 6.4%;
}

#ht1{
    position: absolute;
    height: 73.12px;
    left: 9.22%;
    right: 10.47%;
    top: calc(50% - 73.12px/2 - 130.06px);

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#ht2{
    position: absolute;
    left: 33.84%;
    right: 29.66%;
    top: 46.23%;
    bottom: 50.89%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;
}

#playNow{
    position: absolute;
    left: 40.83%;
    right: 41.09%;
    top: 55.07%;
    bottom: 38.68%;

    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f0ad4e;
    padding: 10px 50px;
    border: none;
}

#homepage{

    background-image: url('./assets/main-bg.jpg');

    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerHomepage{
    margin-top: 5cm;
}

#thegame{
    background-image: url('assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
}

#Page2Text{
    width: 30%;
    height: 100%;
    margin-top: 6.5cm;
    text-align: left;
    margin-left: 2cm;
}

#tgImg{
    width: 70%;
    height: 100%;
}

#tgImg2{
    margin-top: 292.4px;
    width: 80%;
    height: 60%;
}
#features{
    background-image: url('assets/features.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
}

#Page3features{
    width: 40%;
    height: 100%;
    margin-top: 6.5cm;
    text-align: left;
    color: #f0ad4e;
}


#systemreq{
    background-image:url(assets/requirements.png);
    background-repeat: no-repeat;
    
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

}

#systemreqText{
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 2cm;
}
#systemreqContent{
    width: 100%;
    height: 90%;
    margin-left: 4cm;
}

#sysreqTable{

}

#topscore{
    background-image: url('assets/top-score-bg.png');
    /* background-image: url('assets/top-score-bg\(2\).png'); */
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}

#newsletter{
    background-image: url('assets/newsletter.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}
